h1{

    font-size:88px;

    font-weight:800;
}

h2{

    font-size:58px;

    font-weight:700;
}

h3{

    font-size:28px;

    font-weight:600;
}

p{

    color:var(--text-secondary);

    line-height:1.7;
}