.hero{

    width:100%;

    min-height:1040px;

    background:#070816;

    display:flex;

    align-items:center;
}

.hero-container{

    width:95%;

    max-width:1700px;

    margin:auto;

    display:grid;

    grid-template-columns:44% 56%;

    align-items:center;

    gap:10px;
}

@media(max-width:1100px){

.hero-container{

grid-template-columns:1fr;

}

}